extends layout

block content
  h1= title
  - let items = results;   
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/mobile/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.name}(#{item.type}) is #{item.cost} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
  <br/>
  <br/>

  - var results1 = [{"name":"Nokia", "type":"Symbian","cost":500},{"name":"Apple","type":"IOS","cost":1300},{"name":"Samsung","type":"Android","cost":600}]
  div(class="container-fuild")
    div(class="row")
      each result,index in results1
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.name}
          p #{result.type}
          p #{result.cost}

          script.
            function buy(element){
                alert(`You purchased item ${element+1}.`)
            }  
        

